@import 'apps/work-tracking/src/app/app.component.scss';

a {
  text-decoration:none;
  cursor: pointer;
}

.active-link {
  * {
    background-color: #dddddd;
    color: $primary-color
  }
}

:hover {
  background-color: #eeeeee;
}

.mat-card {
  border: #dddddd solid 1px;
  margin-bottom: 8px;
  padding-bottom: 25px;
}
