@import 'apps/work-tracking/src/app/app.component.scss';
@import '../report-creator/report-creator.component.scss';

.button-holder {
  margin-bottom: 30px;
}

.button-holder > * {
  margin-right: 16px;
}

.report-detail-container {
  padding-top: 32px;
}

h2 {
  color: $primary-color;
}
