@import '../../../../../../libs/styles/src/core.scss';

.report-form {
  display: flex;
  flex-direction: column;
}

.btn-container {
  @extend .report-form;
  align-items: center;
  justify-content: center;
}

h1 {
  color: $primary-color;
}
