@import "apps/work-tracking/src/app/app.component.scss";

.grid-container {
  display: grid;
  grid-template-areas:
    'report-creator report-detail'
    'report-list report-detail';
  padding: $grid-outer-padding;
  grid-gap: $grid-gap;
  height: calc(100vh - #{$grid-outer-padding}*2);
}

.grid-container > div {
  width: calc(50vw - #{$grid-outer-padding} - #{$grid-gap});
}

.grid-item-report-creator {
  grid-area: report-creator;
  height: calc(50vh - #{$grid-outer-padding} - #{$grid-gap});
}

.grid-item-report-detail {
  grid-area: report-detail;
  height: calc(100vh - 2*#{$grid-outer-padding});
}

.grid-item-report-list {
  grid-area: report-list;
  height: calc(50vh - #{$grid-outer-padding} - #{$grid-gap});
  overflow: auto;
}
